.main-div {
  align-items: center;
  background-color: rgb(8, 156, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-section {
  background-color: rgb(8, 156, 8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section-board {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.deck-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}

.deck-section h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 300px;
}

.card img {
  height: 250px;
  width: 250px;
}
