.main-div {
  align-items: center;
  background-color: rgb(8, 156, 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-section {
  background-color: rgb(25, 197, 25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section-board {
  align-items: center;
  background-color: rgb(163, 163, 163);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin: 20px;
  width: 40%;
}

.deck-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}

.deck-section h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.card {
  align-items: center;
  background-color: rgb(218, 216, 216);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  width: 400px;
}

.image-card {
  height: 200px;
  width: 200px;
}

.card h3 {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attr-card {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
